:root {
    --main-color: #000;
    --main-color-2: #0002;
    --secondary-color: #fff;
    --grey-color: #eee;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    background-color: var(--secondary-color);
    color: var(--main-color);
}
body[data-theme='dark'] {
    --main-color: #fff;
    --main-color-2: #fff1;
    --secondary-color: #111;
    --grey-color: #000;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px;
}
.left {
    width: 600px;
    height: 100vh;
    background-color: var(--grey-color);
    border-right: 1px solid #0002;
    position: fixed;
    top: 0;
    left: 0;
}
.right {
    float: right;
    width: calc(100% - 600px);
    padding: 60px 60px 240px;
}

.logo {
    font-weight: bold;
    font-size: 40px;
    line-height: 1em;
    color: #36f;
}

.content.hide {
    display: none;
}

.main-title {
    font-size: 60px;
}
.server-name {
    font-weight: bold;
}

.description {
    display: grid;
    gap: 1em;
    font-size: 22px;
    line-height: 1.2em;
}
.description > .discord-channel {
    padding: 0 0.5em;
    font-family: monospace;
    font-size: 18px;
    line-height: inherit;
    background-color: #36f;
    color: #fff;
}

.hi {
    font-size: 22px;
    padding: 1em;
    border: 0.2em dotted var(--grey-color);
}
.discord {
    font-size: 22px;
}
.discord > .link {
    display: block;
    margin-top: 0.2em;
    padding: 0.2em 0.5em;
    text-align: center;
    font-size: 40px;
    background-color: #36f;
    color: #fff;
    border-radius: 0.1em;
}

.top {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.theme {
    display: flex;
    gap: 10px;
}
.theme > .label {
    font-weight: bold;
}
.theme > .option {
    cursor: pointer;
}
.theme > .option:hover {
    border-bottom: 2px solid #aaa;
}
.theme > .option.active {
    border-bottom: 2px solid;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.title {
    font-size: 44px;
}
.questions {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.questions > .question {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 700px;
}
.question > .label {
    font-size: 32px;
}
.question > .err {
    display: none;
    font-size: 18px;
    color: red;
}
.question > .err::before {
    content: '⛔';
    margin-right: 0.5em;
}
.question > .err.show {
    display: block;
}
.question > input,
.question > textarea {
    width: 100%;
    padding: 0.3em;
    font-size: 24px;
    line-height: 1em;
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: 1px solid var(--main-color-2);
    border-bottom: 2px solid var(--main-color);
}
.question > textarea {
    min-height: 2.6em;
    height: 3.6em;
    max-height: 8.6em;
    resize: vertical;
}
.question > .comment {
    font-size: 16px;
    font-style: italic;
}
.question a {
    color: #36f;
}

.continue {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.continue .btn {
    font-size: 24px;
    padding: 0.5em 1em;
    background-color: #36f;
    color: #fff;
    border: none;
    border-radius: 0.15em;
    position: relative;
    cursor: pointer;
}
.continue .btn::after {
    font-size: inherit;
    line-height: inherit;
    content: '✅';
    margin-left: 0.5em;
}
.continue.disabled .btn {
    cursor: no-drop;
}
.continue.disabled .btn::after {
    content: '⛔';
}
.continue .comment {
    display: none;
}
.continue.disabled .comment {
    display: block;
}

@media (max-width: 1400px) {
    .left {
        width: 500px;
    }
    .right {
        width: calc(100% - 500px);
    }
}

@media (max-width: 1100px) {
    .left {
        position: static;
        width: 100%;
        height: auto;
        padding: 30px;
    }
    .right {
        width: 100%;
        padding: 30px 30px 240px;
    }

    .main-title {
        font-size: clamp(36px, 10vw, 60px);
    }
}
